@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*@import url('../app/fonts/WEB/css/montserrat.css');*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


body{
  height: 100%
}

.form-control{
  border: 1px solid #E0D9DE !important
}

.form-control::placeholder {
  font-size: 13px; /* Set placeholder font size */
  color: #6c757d; /* Set placeholder color */
  font-family: "Fredoka", sans-serif;
}

select option:selected{
  font-size: 13px !important; /* Set placeholder font size */
  color: #6c757d !important; /* Set placeholder color */
  font-family: "Fredoka", sans-serif !important;
}

#dashnav{
  border: 1px solid #E0D9DE
}

#dashnav:hover{
  border: 1px solid #E84D88
}

#dashnavv{
  border: 1px solid #E0D9DE
}

#dashnavv:hover{
  border: 1px solid #E84D88

}

#saveGpaModal{
  width:90%;
  position: fixed; /* Ensures it stays in the viewport */
  top: 50%; /* Aligns the top of the modal to the middle */
  left: 50%; /* Aligns the left of the modal to the middle */
  transform: translate(-50%, -50%); 
}

.module-link{
  font-size: 14px
}

.module-link:hover{
  font-size: 30px
}
